<section id="awareness-content">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-12 col-sm-12 col-md-6 form-container pr-md-5">
      <p class="title">Awareness Sessions</p>
      <p class="disc">How to deal with accident</p>
      <p class="date">25th Dec, Hauz Khas</p>
        <form>
  <div class="form-group">
    <input type="text" class="form-control" id="" placeholder="Name">
  </div>
  <div class="form-group">
    <input type="number" class="form-control" id="" placeholder="Age">
  </div>
  <div class="form-group">
    <input type="tel" class="form-control" id="" placeholder="Contact No.">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="" placeholder="Occupation">
  </div>
  <button type="submit" class="btn  register-btn-invert">Register</button>
</form>
      </div>
    </div>
  </div>
</section>