<!DOCTYPE html>
<html>
  <head>
    <%include ../partials/_header.ejs%>
    <%include ambulancePartials/head_script.ejs%>
    <style>
      
        .top-header{
            position:relative;
        }
    </style>
  </head>
  <body>
     <%include ../partials/_page_nav.ejs%>
  
<!-- Map Div    -->
 <div class="map-container">
    <section id="sidebar">
        <header>Hospitals</header>
    </section>
    <section id="side">
        <header>Ambulances</header>
    </section>
<div id="map"></div>
 </div>  



<!--  Map API integration    -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWhs_RWjp5s9VREGYo9jgtGFE8qXI7zKY" type="text/javascript"></script>
<!--  End of Map API Integration    -->
	  <script src="../scripts/markerwithlabel_packed.js"></script>
      <script> //initMap();
            google.maps.event.addDomListener(window, 'load', initMap);
      </script>
      <%include ../homePartials/footer_script.ejs%>
  </body>
</html>
