<section id="driver-training-content">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-sm-12 col-md-6 form-container">
      <p class="title">Driver Training Program</p>
      <p class="disc">In association with Delhi Traffic Police</p>
      <p class="date">25th Dec, Hauz Khas</p>
<form method='post' action ='/driver'>
  <div class="form-group">
    <input type="text" class="form-control" name="driver_name" id="" placeholder="Name">
  </div>
  <div class="form-group">
    <input type="number" class="form-control" name="driver_age" id="" placeholder="Age">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="driver_ambulance" id="" placeholder="Name of Ambulance Provider">
  </div>
  <p class="intermediate-text">Do you have experience in Ambulance driving?</p>
  <div class="form-group">
    <div class="form-check form-check-inline">
      <label class="form-check-label">
      <input class="form-check-input" name='driver_experience' type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
      Yes
      </label>
    </div>
    <div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" name='driver_experience' type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    No
  </label>
    </div>
    <label class="custom-file form-check-inline">
  <input type="file" id="file2" name='driver_certificate' class="custom-file-input" placeholder="Upload Certificate">
  <span class="custom-file-control">Upload Certificate</span>
    </label>
    </div>
  <button type="submit" class="btn  register-btn-invert">Register</button>
</form>
      </div>
    </div>
  </div>
</section>