<!DOCTYPE html>
<html>
<head>
    <title>Paramedic - Ambivan</title>
    <% include ../partials/_header.ejs %>
</head>
<body style="background-image:url(../../assets/images/bg-image.png)" class="special-body">
<!-- Navbar -->
<% include ../partials/_page_nav.ejs %>

<!--Paramedic Content-->
<% include paramedicPartials/paramedicContent.ejs %>

<% include ../partials/_footer_script.ejs %>

</body>
</html>