<!DOCTYPE html>
<html>
<head>
    <title>Driver Training</title>
    <% include ../partials/header.ejs %>
</head>
<body style="background-image:url("images/")">
<!-- Navbar -->
<% include ../partials/_page_nav.ejs %>

<!--Driver-training Content-->
<% include trainingPartials/trainingContent.ejs %>
</body>
</html>