<!DOCTYPE html>
<html>
<head>
    <title>FAQs - Ambivan</title>
    <% include ../partials/_header.ejs %>
</head>
<body>
<!--Navbar-->
<% include ../partials/_page_nav.ejs %>


<!-- FAQ section -->
<% include faqPartials/faq-content.ejs %>



<% include ../partials/_footer_script.ejs %>
</body>
</html>