<!DOCTYPE html>
<html>
<head>
    <title>Book Ambulance</title>
    <% include ../partials/_header.ejs %>
</head>
<body>
<!-- Navbar -->
<% include ../partials/_page_nav.ejs %>
<!--Random Content-->
<% include randomPartials/randomContent.ejs %>

</body>
</html>