<!DOCTYPE html>
<html>
<head>
    <title>About Us - Ambivan</title>
    <% include ../partials/_header.ejs %>
</head>
<body>
<!-- Navbar -->
<% include aboutPartials/aboutNavbar.ejs %>

<!--About Content-->
<% include aboutPartials/aboutSection.ejs %>


<% include ../partials/_footer_script.ejs %>

</body>
</html>