<!DOCTYPE html>
<html>
<head>
    <title>Awareness - Ambivan</title>
    <% include ../partials/_header.ejs %>
</head>
<body style="background-image:url("images/")">

<!-- Navbar -->
<% include ../partials/_page_nav.ejs %>

<!--Awareness Content-->
<% include awarenessPartials/awarenessContent.ejs %>



</body>
</html>