<section class="about text-center" id="about">
		<div class="container">
			<div class="row">
				<h2>about us</h2>
				<h3>About Ambivan</h3>
				<p class="about-content">AmbiVan is joint venture of Indian Institute of technology Delhi and Indian Road Safety Campaign. The project aims at providing fast and reliable ambulance service through a wide network of hospitals and ambulance providers brought under one roof. The alarming number of deaths of accident victims due to unavailability of ambulance during the Golden Hour gave rise to this social innovation project. Ambivan will provide variety of services through app and web based platforms which include Auto Detection, booking of ambulances, real time monitoring of bed availability in hospitals, patient tracking, simplified payment procedures, helpdesks and information centre. During emergencies the app will auto detect the accident and dispatch the ambulance in the vicinity of the accident. The service helps people connect to both paid and free ambulance providers and book one accordingly. Not many people are aware of the fine which the ambulance provider working under 108/102 needs to submit a fine if the van doesn’t reach within 20 minutes in urban areas.The awardees of Good Samaritan Law will be able to claim the honorarium of 2000 directly through the app/website. The prime objective is to reduce the response time of emergency services thus making them faster and better.</p>
				<div class="about-images clearfix">
                <div class="card card1 col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-1 col-xs-10">
					<div class="single-service-detail clearfix">
						<div class="service-img">
							<img class="img-responsive" src="../../assets/images/item1.jpg" alt="">
						</div>
						<div class="service-details">
							<div class="pentagon-text">
								<h1>l</h1>
							</div>
							<h3>Lorem Ipsum</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
						</div>
					</div>
				</div>
				<div class="card card2 col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-1 col-xs-10">
					<div class="single-about-detail">
						<div class="about-img">
							<img class="img-responsive" src="../../assets/images/item2.jpg" alt="">
						</div>
						<div class="about-details">
							<div class="pentagon-text">
								<h1>L</h1>
							</div>

							<h3>Lorem Ipsum</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
						</div>
					</div>
				</div>
				<div class="card card3 col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-1 col-xs-10">
					<div class="single-about-detail">
						<div class="about-img">
							<img class="img-responsive" src="../../assets/images/item3.jpg" alt="">
						</div>
						<div class="about-details">
							<div class="pentagon-text">
								<h1>L</h1>
							</div>
							<h3>Lorem Ipsum</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
						</div>
					</div>
				</div>
								    
				</div>
				<h3 id="about-irsc">About IRSC</h3>
				<p class="about-content">Indian Road Safety Campaign (IRSC), is the largest youth-led organisation in India with a presence in over 50+ CITIES and working with help of 1700+ YOUTH with college chapters in premier IITs, NITs, DU Colleges, AIIMS and Law colleges across India, being led by IIT Delhi chapter. IRSC is presently working with organisations like UNITED NATIONS, WHO, MINISTRY OF ROAD TRANSPORT AND HIGHWAYS, INDIA, NATIONAL INFORMATICS CENTER (NIC), NITI AAYOG, IRTE, DELHI TRAFFIC POLICE AND TRIPP, IIT DELHI in its endeavour to make Indian roads safer and has been able to impact more than 1 CRORE people across India through its various domains of operations.</p>
			</div>
		</div>
	</section>