<section id="banner-section" style="background-image:url(../../assets/images/banner-bg.png);">
<div class="banner-overlay">
    <img src="https://s3.us-east-2.amazonaws.com/ambivan-website-images/picAsset+1portfolio.png" alt="" class="moving-image d-block">
    <img src="../../assets/images/ambulance.png" alt="" class="ambulance-image">
</div>

    <div class="container-fluid">
        <div class="row align-items-center first-row">
            <a href="tel:102" class=""><button class="btn btn-lg mx-auto" id="emergency-btn"><a href="tel:102" class="mx-auto">Emergency</a></button></a>
        </div>
        <div class="row align-items-center">
           <div class="button-container mx-auto">
               <a href="/ambulance/getAmbulance"><button class="btn mr-1 secondary-btn" style="background-color:#fff;" id=""><a href="/ambulance/getAmbulance">Book Ambulance</a></button></a>
               <a href="/book-overview"><button class="btn ml-1 secondary-btn" style="background-color:#fff;" id=""><a href="/ambulance/getAmbulance">Nearby Hospitals</a></button></a>
               </div>
        </div>
    </div>
</section>