<section id="banner-section">
    <div class="container-fluid">
        <div class="row align-items-center first-row">
            <button class="btn btn-lg mx-auto" id="emergency-btn"><a href="tel:102">Emergency</a></button>
        </div>
        <div class="row align-items-center">
           <div class="button-container mx-auto">
                <button class="btn mr-1 secondary-btn" id=""><a href="/ambulance/getAmbulance">Book Ambulance</a></button>
                <button class="btn ml-1 secondary-btn" id="">Create Account</button>
               </div>
        </div>
    </div>
</section>