<section id="league-section">
    <div class="container-fluid">
        <div class="league-header mx-auto">Our League</div>
        <div class="row league-content-row">
            <div class="col-12 mx-auto row-header">Board of advisery</div>
            <div class="col-sm-4 col-6 col-md-2 person-div">
                <figure>
                    <img src="" alt="" class="rounded-circle">
                    <figcaption>Prof Random</figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-6 col-md-2 person-div">
                <figure>
                    <img src="" alt="" class="rounded-circle">
                    <figcaption>Prof Random</figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-6 col-md-2 person-div">
                <figure>
                    <img src="" alt="" class="rounded-circle">
                    <figcaption>Prof Random</figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-6 col-md-2 person-div">
                <figure>
                    <img src="" alt="" class="rounded-circle">
                    <figcaption>Prof Random</figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-6 col-md-2 person-div">
                <figure>
                    <img src="" alt="" class="rounded-circle">
                    <figcaption>Prof Random</figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-6 col-md-2 person-div">
                <figure>
                    <img src="" alt="" class="rounded-circle">
                    <figcaption>Prof Random</figcaption>
                </figure>
            </div>
        </div>
        <div class="row league-content-row">
            <div class="col-12 mx-auto row-header">Core Team</div>
            <div class="col-sm-4 col-6 col-md-2 person-div">
                <figure>
                    <img src="" alt="" class="rounded-circle">
                    <figcaption>Team Member</figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-6 col-md-2 person-div">
                <figure>
                    <img src="" alt="" class="rounded-circle">
                    <figcaption>Team Member</figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-6 col-md-2 person-div">
                <figure>
                    <img src="" alt="" class="rounded-circle">
                    <figcaption>Team Member</figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-6 col-md-2 person-div">
                <figure>
                    <img src="" alt="" class="rounded-circle">
                    <figcaption>Team Member</figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-6 col-md-2 person-div">
                <figure>
                    <img src="" alt="" class="rounded-circle">
                    <figcaption>Team Member</figcaption>
                </figure>
            </div>
            <div class="col-sm-4 col-6 col-md-2 person-div">
                <figure>
                    <img src="" alt="" class="rounded-circle">
                    <figcaption>Team Member</figcaption>
                </figure>
            </div>
        </div>
        <button id="IRSC" class="mx-auto">Indian road safety campaign (IRSC) team</button>
        <div id="league-contact-us" class="row">
            <div class="col-md-8 col-12 col-sm-10 mx-auto">
               <div class="league-header mx-auto">Contact Us</div>
                <form>
                 <div class="form-group">
                    <input type="text" class="form-control" name="contact_name" placeholder="NAME">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" name="contact_mail" placeholder="E-MAIL ID">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" name="contact_message" rows="6" placeholder="MESSAGE"></textarea>
                  </div>
                  <button type="submit" class="btn mx-auto" id="contact_submit">SEND</button>
                </form>
            </div>
        </div>
    </div>
</section>