
<section id="main-body-section">
    <div class="container-fluid">
        <div class="row main-body-content-row">
            <div class="row-header mx-auto">Services</div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="/book-overview" class="content-col-item">
                            <figure>
                                <img src="../../assets/images/service1.png" alt="">
                                <figcaption>Booking</figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/availability" class="content-col-item">
                            <figure>
                                <img id="bed_availability" src="../../assets/images/service2.png" alt="">
                                <figcaption>Bed Availability</figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/faq" class="content-col-item">
                            <figure>
                                <img src="../../assets/images/service3.png" alt="">
                                <figcaption>Help Desk</figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row main-body-content-row">
            <div class="row-header mx-auto">Join Us</div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="/book-overview" class="content-col-item">
                            <figure>
                                <img src="../../assets/images/join1.png" alt="">
                                <figcaption>Register Your ambulance</figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/driverTraining" class="content-col-item">
                            <figure>
                                <img src="../../assets/images/join2.png" alt="">
                                <figcaption>Driver Training</figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/paramedic" class="content-col-item">
                            <figure>
                                <img src="../../assets/images/join3.png" alt="">
                                <figcaption>Paramedic training</figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row main-body-content-row">
            <div class="row-header mx-auto">Become a life saver</div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="/responder" class="content-col-item">
                            <figure>
                                <img src="../../assets/images/life1.png" alt="">
                                <figcaption>First Aid Responders Training</figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/awareness" class="content-col-item">
                            <figure>
                                <img src="../../assets/images/life2.png" alt="">
                                <figcaption>dealing with accidents</figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/faq" class="content-col-item">
                            <figure>
                                <img src="../../assets/images/life3.png" alt="">
                                <figcaption>safety device</figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>