<section class="slider" id="home">
		<div class="container-fluid">
			<div class="row">
			    <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
					<div class="header-backup"></div>
			        <!-- Wrapper for slides -->
			        <div class="carousel-inner" role="listbox">
			            <div class="item active">
			            	<img src="../../assets/images/slide-one1.jpg" alt="">
			                <div class="carousel-caption"> 
		               			<h1 id="main-header">providing</h1>
		               			<p id="main-header-text">Instant ambulance service</p>
		               			<button class="main-button"><a href=tel:102>emergency</a></button>
                                <button class="main-button ambuSearch-button"><a href="/ambulance/getAmbulance">Search an ambulance</a></button>
			                </div>
			            </div>
			            <div class="item">
			            	<img src="../../assets/images/slide-two2.jpg" alt=""> 
			                <div class="carousel-caption">
		               			<h1>providing</h1>
		               			<p>Instant ambulance service</p>
		               			<button><a href=tel:102>emergency</a></button>
		               			<button class="ambuSearch-button"><a href="/ambulance/getAmbulance">Search an ambulance</a></button>
			                </div>
			            </div>
			            <div class="item">
			            	<img src="../../assets/images/slide-three.jpg" alt="">
			                <div class="carousel-caption">
		               			<h1>providing</h1>
		               			<p>Instant ambulance service</p>
		               			<button><a href=tel:102>emergency</a></button>
		               			<button class="ambuSearch-button"><a href="/ambulance/getAmbulance">Search an ambulance</a></button>
			                </div>
			            </div>
			            <div class="item">
			            	<img src="../../assets/images/slide-four2.jpg" alt="">
			                <div class="carousel-caption">
		               			<h1>providing</h1>
		               			<p>Instant ambulance service</p>
		               			<button><a href=tel:102>emergency</a></button>
		               			<button class="ambuSearch-button"><a href="/ambulance/getAmbulance">Search an ambulance</a></button> 
			                </div>
			            </div>
			        </div>
			        <!-- Controls -->
			        <a class="left carousel-control" href="#carouselHacked" role="button" data-slide="prev">
			            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			            <span class="sr-only">Previous</span>
			        </a>
			        <a class="right carousel-control" href="#carouselHacked" role="button" data-slide="next">
			            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			            <span class="sr-only">Next</span>
			        </a>
			    </div>
			</div>
		</div>
	</section>