<section id="footer-section" class="">
    <div class="container pt-3">
        <div class="row link-row text-center text-md-left  pb-4">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="title mb-4">Company</h6>
                <p><a href="/about">About Us</a></p>
                <p><a href="/FAQs">FAQs</a></p>
                <p><a href="/#league-section">Our Team</a></p>
                <p><a href="/#league-section">Our partners</a></p>
            </div>
            <hr class="w-100 clearfix d-md-none">
            <!--Second column-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="title mb-4">Services</h6>
                <p><a href="/book-overview">Booking</a></p>
                <p><a href="/availability">Bed Availibility</a></p>
                <p><a href="/FAQs">Help Desk</a></p>
            </div>
            <hr class="w-100 clearfix d-md-none">
            <!--Third column-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="title mb-4">Be a Life Saver</h6>
                <p><a href="/responder">First Aid Training</a></p>
                <p><a href="/FAQs">Dealing with Accidents</a></p>
                <p><a href="/FAQs">Safety devices</a></p>
            </div>
            <hr class="w-100 clearfix d-md-none">
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="title mb-4">Join Us</h6>
                <p><a href="/book-overview">Register Your Ambulance</a></p>
                <p><a href="/driverTraining">Driver Training</a></p>
                <p><a href="/paramedic">Paramedic Training</a></p>
            </div>
        </div>
        <div class="row social-row py-3 d-flex align-items-center">
            <div class="col-md-7 col-lg-8 mx-auto">
                <p class="text-center text-md-left grey-text copyright-text">© 2017- 2018 Ambivan</p>
            </div>
            <div class="col-md-5 col-lg-4 ml-lg-0 mx-auto">
                <div class="social-section text-center text-md-left">
                    <ul>
                        <li><a class="btn-floating btn-sm rgba-white-slight mr-xl-4"><i class="fa fa-facebook fa-2x"></i></a></li>
                        <li><a class="btn-floating btn-sm rgba-white-slight mr-xl-4"><i class="fa fa-twitter fa-2x"></i></a></li>
                        <li><a class="btn-floating btn-sm rgba-white-slight mr-xl-4"><i class="fa fa-google-plus fa-2x"></i></a></li>
                        <li><a class="btn-floating btn-sm rgba-white-slight mr-xl-4"><i class="fa fa-linkedin fa-2x"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>

</section>