<!DOCTYPE html>
<html>
<head>
    <title>Responder - Ambivan</title>
    <% include ../partials/header.ejs %>
</head>
<body style="background-image:url("images/")">
<!-- Navbar -->
<% include ../partials/_page_nav.ejs %>

<!-- Responder Content -->
<% include responderPartials/responderContent.ejs %>


</body>
</html>