<!DOCTYPE html>
<html>
<head>
    <title>Our Vision - Ambivan</title>
    <% include ../partials/header.ejs %>
</head>
<body style="background-image:url("images/")">
<!-- Navbar -->
<% include ../partials/_page_nav.ejs %>

<!-- Our Vision Section -->
<% include visionPartials/visionContent.ejs %>

</body>
</html>