<section id="vision">
  <div class="container">
    <div class="row">
    <div class="col-12 image-div">
      <img src="images/vision.png" class="img-fluid d-block mx-auto">
    </div>
      <p class="vision-header d-block mx-auto">Our Vision</p>
    </div>
    <div class="row vision-text mx-auto">
      The Ambivan sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      
    </div>
  </div>    
</section>