<!DOCTYPE html>
<html>
<head>
    <title>Ambivan</title>
    <% include partials/_header.ejs %>
</head>
<body>
<!--Navbar-->
<% include partials/_page_nav.ejs %>

<!--Banner-->
<% include homePartials/banner.ejs %>

<!--main-body-->
<% include homePartials/main_body.ejs %>

<!--Our League-->
<!-- commented on request from amar -->
<!-- <% include homePartials/league.ejs %> -->


<!--Footer-->
<% include partials/_footer.ejs %>


<% include partials/_footer_script.ejs %>
</body>
</html>