<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <%include partials/_header.ejs%>
  </head>
  <body>
<!-- Map Div    -->
      <div id="map"></div>
      <section id="sidebar">
          <header>Hospitals</header>
      </section>
      
      
      
      
      
      
      
<!--  Map API integration    -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWhs_RWjp5s9VREGYo9jgtGFE8qXI7zKY" type="text/javascript"></script>
<!--  End of Map API Integration    -->
     
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      /* Optional: Makes the sample page fill the window. */
	  <script src="../scripts/markerwithlabel_packed.js"></script>
      <script> //initMap();
            google.maps.event.addDomListener(window, 'load', initMap);
      </script>
  </body>
</html>