<!DOCTYPE html>
<html lang="en">
<head>
   <% include partials/_header.ejs %>
   <% include homePartials/head_content.ejs %>
</head>
<body>
<!-- Page nav section-->
<% include partials/_page_nav.ejs %>


<!--Banner-->
<% include homePartials/slider.ejs %>


<!-- About section-->
<% include homePartials/about.ejs %>


<!--Contact Section-->
<% include homePartials/contact.ejs %>

<% include partials/_footer.ejs %>

<% include homePartials/footer_script.ejs %>

</body>
</html>
