<!DOCTYPE html>
<html lang="en">
<head>
   <title>Index</title>
</head>
<body>
<!--Googgle Tag Manager-->
<%include partials/_gtm_script.ejs%>

<p class=""><%=data%></p>
<p>Data mil gaya</p>
<!--footer partial-->
</body>
</html>
