<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <%include partials/_header.ejs%>
    <style>
        #map{
            height:100vh;
            left:300px;
        }
    </style>
  </head>
  <body>
<!-- Map Div    -->
      <div id="map"></div>
      
      
      
<!--  Map API integration    -->
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWhs_RWjp5s9VREGYo9jgtGFE8qXI7zKY&callback=initMap" type="text/javascript"></script>
<!--  End of Map API Integration    -->
  </body>
</html>
