<!DOCTYPE html>
<html>
<head>
    <title>Bed Availability - Ambivan</title>
    <% include ../partials/_header.ejs %>
</head>
<body style="background-image:url("images/")">
<!-- Navbar -->
<% include ../partials/_page_nav.ejs %>

<!--Availability Content-->
<% include availabilityPartials/content.ejs %>

</body>
</html>