<section id="about-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 image-side side" style="background-image:url('../../../assets/images/about-ambi-bg.png');">
                <div class="about-page-header mx-auto">About Us</div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-side side">
                <p class="about-ambivan-text">
                    AmbiVan is joint venture of Indian Institute of technology Delhi and Indian Road Safety Campaign. The
project aims at providing fast and reliable ambulance service through a wide network of hospitals and
ambulance providers brought under one roof. The alarming number of deaths of accident victims due to
unavailability of ambulance during the Golden Hour gave rise to this social innovation project. Ambivan
will provide variety of services through app and web based platforms which include, booking of
ambulances, real time monitoring of bed availability in hospitals, patient tracking, simplified
payment procedures, helpdesks and information centre.The service helps people connect to both paid
and free ambulance providers and book one accordingly.
                </p>
                <p class="about-ambivan-text">
                     Many people are unaware of the fine which
the ambulance provider working under 108/102 needs to submit a fine if the van doesn’t reach within 20
minutes in urban areas. The prime objective is to reduce the response time of emergency services thus
making them faster and better.
                </p>
            </div>  
        </div>
    </div>        
</section>