<section id="faq-section" class="mx-auto">
    <div class="container">
      <header class="faq-header">FAQs</header>
      <div class="faq-content">
        <div class="faq-content-header">
          <div class="heading">Situation 1 : </div>
          <div class="sub-heading">Suppose an accident happens, either in front of me or I see it after sometime but there is no one with the patient.</div>
        </div>
        <ol class="faq-list">
          <li class="faq-item">
            <div class="ques">How can I help him?</div>
            <div class="ans">You move him to a safe place and check whether his heart is beating by checking his pulse or by seeing the movement of his heart</div>
          </li>
          <li class="faq-item">
            <div class="ques">Where to take him?</div>
            <div class="ans">Take him to the nearest hospital small or big</div>
          </li>
          <li class="faq-item">
            <div class="ques">Even if I manage to take him to hospital, how will doctor know about his medical history?</div>
            <div class="ans">Ans: Medical history is not important</div>
          </li>
          <li class="faq-item">
            <div class="ques">What will happen to payment problems as I am not willing to pay?</div>
            <div class="ans">As per the good samaritan law you need not pay anything to the hospital</div>
          </li>
          <li class="faq-item">
            <div class="ques">I am scared if there would be a police case and thus I am apprehensive to help the victim. What should I do?</div>
            <div class="ans">As per the good samaritan law no questions will be asked to you </div>
          </li>
          <li class="faq-item">
            <div class="ques">I have to be somewhere soon, but I can’t leave the patient alone too. What should I do? How will I know, if he is okay? </div>
            <div class="ans">Call the police van PCR. You just have to ask him if he is ok, if he replies then he is ok. If he doesn't reply then he is not ok.</div>
          </li>
          <li class="faq-item">
            <div class="ques">What if he is not a genuine person, I don’t even know his name? What to do?</div>
            <div class="ans">As a good samaritan we need to save everyone weather good or bad</div>
          </li>
          <li class="faq-item">
            <div class="ques">I am not able to reach any ambulance provider and also my car is full and I can’t leave my family there to take him to hospital. What should I do?</div>
            <div class="ans">Ans: Call the PCR van</div>
          </li>

        </ol>
      </div>
      <div class="faq-content">
        <div class="faq-content-header">
          <div class="heading">Situation 2 : </div>
          <div class="sub-heading">If my vehicle meets with an accident, but my fellow passenger is unconscious. (It can apply to first situation also)</div>
        </div>
        <ol class="faq-list">
          <li class="faq-item">
            <div class="ques">How can I save him as I am also in a very nice condition? </div>
            <div class="ans">First call the PCR van. Second take out the person from the vehicle, make him lie on the road or any safe place and check whether his pulse is working</div>
          </li>
          <li class="faq-item">
            <div class="ques">He has lost lots of blood, and is in critical condition. Whom should I call in such a case?</div>
            <div class="ans">Call PCR van and if he is bleeding externally apply the pressure bandage</div>
          </li>
          <li class="faq-item">
            <div class="ques">I am unable to speak, how should I give required information then? </div>
            <div class="ans">Dialer Police number 100 or raise your arm to give indication</div>
          </li>
          <li class="faq-item">
            <div class="ques">I don’t know where we are, so what should I do? </div>
            <div class="ans">Call the police 100</div>
          </li>
          <li class="faq-item">
            <div class="ques">I had come to the place for the first time, so I don’t know about any hospitals, what should I do?</div>
            <div class="ans">Take help of people around you</div>
          </li>
          <li class="faq-item">
            <div class="ques">I am just his friend and doesn’t know about his information that doctor requires. What should be done? 
            </div>
            <div class="ans">Leave it to the doctor, let him organize</div>
          </li>
          <li class="faq-item">
            <div class="ques">I am not able to reach any ambulance provider and also my car is full and I can’t leave my family there to take him to hospital. What should I do?</div>
            <div class="ans">Ans: Call the PCR van</div>
          </li>

        </ol>
      </div>
    </div>
</section>