<section id="responder-content">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-12 col-sm-12 col-md-6 form-container pr-md-5">
      <p class="title">First Aid Responders Training</p>
      <p class="date">25th Dec | LH-325 | IIT Delhi</p>
        <form method='post' action='/responder'>
          <div class="form-group">
    <input type="text" class="form-control" name="responder_name" id="" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" name="responder_age" id="" placeholder="Age">
        </div>
        <div class="form-group">
          <input type="tel" class="form-control" id="" name="responder_phone" placeholder="Contact No.">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="" name="responder_occupation" placeholder="Occupation">
        </div>
        <p class="last-date"><span class="blue">Last Date</span> for registration:</p>
        <p class="last-date-date">10 December 2017</p>
        <button type="submit" class="btn  register-btn-invert">Register</button>
          <p class="undertext"><a href="/contact">Contact Us</a> for organising upcoming Training</p>
    </form>
      </div>
    </div>
  </div>
</section>